<p id="notice"><%= notice %></p>

<p>
  <strong><%= Coin.human_attribute_name(:description) %></strong>
  <%= @coin.description %>
</p>

<p>
  <strong><%= Coin.human_attribute_name(:acryonym) %></strong>
  <%= @coin.acronym %>
</p>

<p>
  <strong><%= Coin.human_attribute_name(:url_image) %>:</strong>
  <%= @coin.url_image %>
</p>

<%= link_to 'Edit', edit_coin_path(@coin) %> |
<%= link_to 'Back', coins_path %>
